<%- include('../partials/header', {title: 'Manage User'}) %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <%- include('./navbar') %>
        </div>
        <div class="col-md-10">
            <h1>Manage User</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(el => { %>
                        <tr>
                            <td><%= el.id %></td>
                            <td><%= el.UserDetail.name %></td>
                            <td><%= el.email %></td>
                            <td><%= el.Roles.map(r => r.name).join(', ') %></td>
                            <td class="<%= el.status === 'suspend' ? 'text-danger' : 'text-success' %>"><%= el.status %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>